@font-face {
	font-family: 'Lato-Semibold';
	src:url('../fonts/typo/Lato-Semibold.ttf');
	src:url('../fonts/typo/Lato-Semibold.ttf') format('truetype'),
		url('../fonts/typo/Lato-Semibold.woff') format('woff'),
		url('../fonts/typo/Lato-Semibold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
.jarallax {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#ultimo2{
	margin-top: -85px;
}
#ultimo{
	margin-top: -115px;
}

p {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 17px;
}
small {
    font-size: 75%;
    color: #eee;
}
a, a:visited, a:hover, a:focus {
    color: inherit;
}
a:hover, a:focus {
    color: #ddd;
}
.jarallax {
    height: 700px;
}

/* demo menu */
.demo-menu {
    background-color: #272333;
}
.demo-menu ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
}
.demo-menu ul li {
    display: inline-block;
}
.demo-menu ul li a {
    display: block;
    padding: 20px 30px;
    text-decoration: none;
}
.demo-menu ul li.active a,
.demo-menu ul li a:hover {
    background-color: #383344;
}

/* hero block */
.demo-table {
    display: table;
    width: 100%;
    height: 600px;
}
.demo-table-cell {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

/* gap */
.demo-gap {
    padding: 50px;
    background-color: #272333;
    text-align: center;
}

/* full height demo */
html.demo-full-height,
html.demo-full-height body,
html.demo-full-height .jarallax,
html.demo-full-height .demo-table {
    height: 100%;
}
html.demo-full-height .jarallax,
html.demo-full-height .demo-table {
    min-height: 600px;
}

.navbar-text > a{
	color: inherit;
	text-decoration: none;
}


.navbar-default{
	border-color: #fff;
	color: #fff;
	background: rgba(54, 25, 25, .5);
}
.navbar-default .navbar-brand{
	color: #fff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus{
	color:#18bc9c;
	background-color: transparent;
}

.navbar-default .navbar-nav > li > a{
	color: #fff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus{
	color: #fff;
	background-color: #1A242F;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus{
	color: #18bc9c;
	background-color: transparent;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus{
	background-color: #1A242F;
	color: #fff;
}
.btn-primary{
	background-color: #2C3E50;
	border-color: #2C3E50;
	color: #fff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary{
	color: #fff;
	background-color: #1E2A36;
	border-color: #1E2A36;
}
.btn-success{
	background-color: #18BC9C;
	border-color: #18BC9C;
	color: #fff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success{
	color: #fff;
	background-color: #13987E;
	border-color: #13987E;
}
.btn-default{
	background-color: #95A5A6;
	border-color: #95A5A6;
	color: #fff;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default{
	color: #fff;
	background-color: #7F9293;
	border-color: #7F9293;
}

/*------Texto sobre imagenes de post------*/
#sobre{
	margin-top: 150px;
}


#comida{
	background-color: #fff;
	height: auto;
}
#comida{
	color: #000;
}
#tituloConsulta{
	color: #000;
	padding-top: 20px;
	margin-bottom: 30px;
	padding-bottom: 30px;	
}
/*------Div de negocios-------*/
.caja
{
	background:white;
	float:left;
	width:350px;
	height:auto;
	/*border:1px solid #E2E2E2;*/
	margin:auto;
	border-radius: 4px;
	margin-right: 25px;
	margin-bottom: 30px;
	-webkit-box-shadow: 4px 7px 13px -1px rgba(161,161,161,1);
-moz-box-shadow: 4px 7px 13px -1px rgba(161,161,161,1);
box-shadow: 4px 7px 13px -1px rgba(161,161,161,1)
}

.imaNegocio{
	background-color: #f3f3f3;
	width: 70%;
	height: 70%;
	float: left;
}
.nombreNegocio{
	background-color: #354345;
	opacity: .6;
	width: 100%;
	height: 40px;
	font-weight: 600;
	color: #fff;
	text-align: right;
	float: left;
	margin-top: -233px;
	padding-top: 9px;
	padding-right: 2px;
}
#lateral{
color: #007ccd;
}
.datosNegocio{
	background-color: #fff;/*#00b7f4*/
	width: 100%;
	float: left;
	height: 70%;
	margin-top: 3px;
	margin-bottom: 3px;
	font-family: 'Droid Sans', sans-serif;
	font-size: 12px;
}
.descripcion{
	text-align: justify;
	font-family: 'Droid Sans', sans-serif;
}
.calificacionN{
	background-color: #e6e6e6;
	width: 100%;
	float: left;
	height: 15%;	
}
.puntaje{
	float: left;
}
.detalle{
	float: right;
}
.detalleBus{
	float: left;
	display: inline-table;
}

.contenedor 
{
	background-color:#fff;/*345678*/
	width:100%;
	height: auto;
	margin: auto;
}
.empresaLeft
{
	background-color: #fff;
	float:left;
	width:100%;
	height:auto;
	text-align:center;
	margin:auto;
	border: 0px;
	margin-bottom: 10px;
}
img {
	border:0px;	
}
.empresaContenido{
	background:#fff;
	float:left;
	width:75%;
	height: auto;
	text-align:center;
	margin:auto;
}
.cajades
{
	background:white;
	float:left;
	width:25%;
	height:auto;
	text-align:left;
	padding:10px;
	margin:auto;
	margin-top: 57px;
}

#ver{
	background:none;
}
#carnaval{
	color: #000;
}