#card2{
	width:300px;
	background-color:white; 
	box-shadow: 10px 10px  15px 0px  #B9B7B7;
	height: 200px;
}
.btnsubir {
    border-radius:4px; 
    font-size:20px;
    width:170px;
    outline: none;
}
.btnsubirtotal{
    
    border-radius:4px; 
    font-size:20px;
    width:170px;
    outline: none;
}
#row1{
	height:50px;
}
#row2{
	height:25px;
}

.files input {
    /*outline: 2px dashed #92b0b3;*/
	background-color:white; 
	box-shadow: 10px 10px  15px 0px  #B9B7B7;
	width: 70%;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    padding: 120px 0px 85px 15%;
    text-align: center !important;
    margin: 0;
}
.files input:focus{     outline: 2px dashed #92b0b3;  outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear; border:1px solid #92b0b3;
 }
.files{ position:relative}
.files:after {  pointer-events: none;
    position: absolute;
    top: 60px;
    width: 50px;
    height: 56px;
    left: 0;
    right: 0;
    content: "";
    background-image: url('../img/card.png');/**/
    display: block;
    margin: 0 auto;
    background-size: 100%;
    background-repeat: no-repeat;
}
.color input{ background-color:#f1f1f1;}
.files:before {
    position: absolute;
    bottom: 10px;
    left: 0;  pointer-events: none;
    width: 100%;
    right: 0;
    height: 57px;
    content: " or drag it here. ";
    display: block;
    margin: 0 auto;
    color: #2ea591;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
}