
  .drag{
    /* position: absolute; */
    /* top: 50%; */
    /* left: 50%; */
    /* margin-top: -100px; */
    /* margin-left: -250px; */
    /*display: none;*/
    width: 100%;
    height: 150px;
    border: 4px dashed rgb(141, 136, 136);
  }
  .drag_p{
    /*position: absolute;*/
    width: 100%;
    /*height: 100%;*/
    text-align: center;
    /* line-height: 170px; */
    color: #dd0f80;
    font-family: Arial;
  }
  .drag_input{
    /* position: absolute; */
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
  }
  .drag_button{
    margin: 0;
    color: #fff;
    background: #a01682;
    border: none;
    width: 100%;
    height: 35px;
    margin-top: -20px;
    margin-left: -4px;
    border-radius: 4px;
    border-bottom: 4px solid rgb(192, 17, 113);
    transition: all .2s ease;
    outline: none;
  }
  .drag_button:hover{
    background: #f7f7f7;
      color: rgb(202, 5, 192);
  }
  .drag_button:active{
    border:0;
  }
  .oculto{
    display: none;
  }

  .buttonBase{
    position: absolute;
    width: 100%;
    height: 35px;
    background-color: #ED3093;
    color: white; 
    border-radius: 4px;
    margin-top: 120px;
    border: none;
    align-self: center;
  }
  .documentoAlta{
    position: absolute;
    margin: 0;
    padding: 0;
    width: 62%;
    height: 75%;
    outline: none;
    opacity: 0;
    z-index: 1;
  }

  .exitB{
    z-index: 1000;
  }

  .loadImg{
    margin-top: 2%;
    position: absolute;
    display:none;
    background: transparent !important;
    width: 36% !important;
  }