#accordion{
	margin-top: 50px;
	margin-bottom: 50px;
}

#textbtnver{
	margin-bottom: 20px;
}

.h1-number{
	font-size: 150px;
	font-weight: 600;
}

#p2cliente {
	margin-left:2vw;
	font-size:3vw;
	color:white;
	position: relative;
	line-height:120%;
}
#pcliente{
	font-size:22px;
	text-align: center;
	font-weight:bold;
}
#p4cliente{
	text-align:center;
	font-size:17px;
	font-weight:bold;
}
#textosecundario{
	text-align:center; 
	font-size:15px;
}
#contcliente{
	position: absolute;
}
#rowcolorcliente{
	height:420px;
	background-color:#870080;
}
#rowcolorcliente1{
	height:130px;
	background-color:#870080;
}
#textrealpago{
	color: white;
	font-size:20px;
	font-weight:bold;
}
#divtextreg{
	height: 70px;
}
#btnver{
	background-color: white;
	color:#870080;
	font-size:20px;
	width:140px;
	margin:1px #870080;
}
#textbtnver{
	color: white;font-family:Helvetica LT Std (bold);text-align: center;
}
#textcomoutilizo{
	color:white;
	font-size:30px;
	font-weight:bold;
}