.group { 
			position: relative; 

		}
		form.datos{
			box-shadow:15px 15px 30px #B9B7B7;
			background:white;

		}
		input.campotexto {
			font-size: 18px;
			padding: 8px 8px 8px 5px;
			-webkit-appearance: none;
			display: block;
			background: white;
			color: #636363;
			width: 80%;
			margin-left:10%;
			border-radius: 5px;
			border: 1px solid #ECEAEA;
			box-shadow:3px 3px  5px   #B9B7B7;
		}
			/*box-shadow:3px 3px  5px   #B9B7B7;*/
		/*#apellidos {
			font-size: 18px;
			padding: 8px 8px 8px 5px;
			-webkit-appearance: none;
			display: block;
			background: white;
			color: #636363;
			width: 80%;
			margin-left:10%;
			border-radius: 5px;
			border: 1px solid #ECEAEA;
			box-shadow:3px 3px  5px   #B9B7B7;
			/*box-shadow:3px 3px  5px   #B9B7B7;*/
		/*}
		/*#ciudad{
			font-size: 18px;
			padding: 8px 8px 8px 5px;
			-webkit-appearance: none;
			display: block;
			background: white;
			color: #636363;
			width: 80%;
			margin-left:10%;
			border-radius: 5px;
			border: 1px solid #ECEAEA;
			box-shadow:3px 3px  5px   #B9B7B7;
			/*box-shadow:3px 3px  5px   #B9B7B7;*/
		/*}

		/*#correo {
			font-size: 18px;
			padding: 8px 8px 8px 5px;
			-webkit-appearance: none;
			display: block;
			background: white;
			color: #636363;
			width: 80%;
			margin-left:10%;
			border-radius: 5px;
			border: 1px solid #ECEAEA;
			box-shadow:3px 3px  5px   #B9B7B7;
			/*box-shadow:3px 3px  5px   #B9B7B7;*/
		/*}

		#contraseña {
			font-size: 18px;
			padding: 8px 8px 8px 5px;
			-webkit-appearance: none;
			display: block;
			background: white;
			color: #636363;
			width: 80%;
			margin-left:10%;
			border-radius: 5px;
			border: 1px solid #ECEAEA;
			box-shadow:3px 3px  5px   #B9B7B7;
			/*box-shadow:3px 3px  5px   #B9B7B7;*/
		/*}

		#telefono3{
			font-size: 18px;
			padding: 8px 8px 8px 5px;
			-webkit-appearance: none;
			display: block;
			background: white;
			color: #636363;
			width: 80%;
			margin-left:10%;
			border-radius: 5px;
			border: 1px solid #ECEAEA;
			box-shadow:3px 3px  5px   #B9B7B7;
			/*box-shadow:3px 3px  5px   #B9B7B7;*/
		/*}
		#trabajo{
			font-size: 18px;
			padding: 8px 8px 8px 5px;
			-webkit-appearance: none;
			display: block;
			background: white;
			color: #636363;
			width: 80%;
			margin-left:10%;
			border-radius: 5px;
			border: 1px solid #ECEAEA;
			box-shadow:3px 3px  5px   #B9B7B7;
		}

		.formdata {
			font-size: 18px;
			padding: 8px 8px 8px 5px;
			-webkit-appearance: none;
			display: block;
			background: white;
			color: #636363;
			width: 80%;
			margin-left:10%;
			border-radius: 5px;
			border: 1px solid #ECEAEA;
			box-shadow:3px 3px  5px   #B9B7B7;
		}*/
		
		
.radio-item {
  display: inline-block;
  position: relative;
  padding: 0 6px;
  margin: 10px 0 0;
}

.radio-item input[type='radio'] {
  display: none;
}

.radio-item label {
  color: #666;
  font-weight: normal;
  margin-bottom: -10px;
}

.radio-item label:before {
  content: " ";
  display: inline-block;
  position: relative;
  top: 5px;
  margin: 0 5px 0 0;
  width: 20px;
  height: 20px;
  border-radius: 11px;
  border: 2px solid #4a4a4a;
  background-color: transparent;
}

.radio-item input[type=radio]:checked + label:after {
  border-radius: 11px;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 9px;
  left: 10px;
  content: " ";
  display: block;
  background: #EF0080;
}


@media (min-width: 100px) and (max-width:768px){
	#datos{
		box-shadow:none;
	}
}