#frmreg{
	position: absolute;
}
form.reg{
		box-shadow:15px 15px 30px #B9B7B7;
		background:white;
}
#textregi{
	margin-left:2vw;
	font-size:4vw;
	color:white;
	position: relative;
	line-height:110%;
	font-weight:bold;
	font-family:Helvetica LT Std (bold);
}
.clase{
	width:300px;
	background-color:white;
	height:280px;
	box-shadow:10px 10px  15px 0px #B9B7B7;
}
#textsecundario{
	margin-left:2vw;
	font-size:3vw;
	color:white;
	position: relative;
	line-height:110%;
	font-family:Helvetica LT Std (bold);
}

.group { 
	position: relative; 
	margin-bottom: 10px; 
}
.textop{
	font-family:Helvetica LT Std (bold);
	font-size:30px;
	text-align: center;
	font-weight:bold;
	color: #333333;
}
p.textop{
	font-family:Helvetica LT Std (bold);
	font-size:32px;
	text-align: center;
	font-weight:bold;
	color: #333333;
}
input.imp2{
	font-size: 18px;
	-webkit-appearance: none;
	display: block;
	background: white;
	color: #636363;
	text-align: center;
	width: 60%;
	margin-left:25%;
	position: absolute;
	border: none;
	border-bottom: 2px solid black;
	outline: 0 !important;
			/*border: 1px solid #ECEAEA;
			box-shadow:3px 3px  5px   #B9B7B7;*/
}
.seleccion {
	font-size: 18px;
	-webkit-appearance: none;
	display: block;
	background: white;
	color: #636363;
	text-align: center;
	text-align: center;
	width: 13%;
	margin-left: 3vw;
	border: none;
			/*border: 1px solid #ECEAEA;
			box-shadow:3px 3px  5px   #B9B7B7;*/
}
#botonderegistro{
	width: 180px; 
	background-color: #ED3093;
	color: white; 
	border:none
}

#boton{
	width: 180px; 
	background-color: #ED3093;
	color: white; 
	border:none
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none; 
	margin: 0; 
}
input[type=number] {
 	-moz-appearance:textfield; 
}
#forma{
	text-align:center;
	font-size:3vw;
	font-weight:bold;
}

.input-error{
	outline: 0 !important;
	border-width: 0 0 2px 0 !important;
	border-color: red !important;
	border-radius: 0px !important;
	font-size: 16px !important;
	color: #000 !important;
	/*margin-bottom: 15.5px;*/
	width: 100%;
}
.error-notice{
	color: #FF001F;
}


@media (min-width: 100px) and (max-width:768px){
	#frmRegistry{
		box-shadow:none;
	}
	.subtitulo-registro{
/* 		font-size: 30px !important; */
		display: none;
	}
	.titulo-registro{
		display: none;
	}
	.formulario-registro{
		margin-top: -100px;
	}
	header{
		height: 750px !important;
	}
}