.group { 
			position: relative; 

		}
		form.validacion{
			box-shadow:15px 15px 30px #B9B7B7;
			background:white;
			
		}
		#numero22{
			font-size: 18px;
			-webkit-appearance: none;
			display: block;
			background: white;
			color: #636363;
			text-align:center;
			width: 40%;
			margin-left:26%;
			position: absolute;
			border: none;
		}
		#numero1v {
			font-size: 18px;
			text-align: center;
			-webkit-appearance: none;
			display: block;
			background: white;
			color: #636363;
			width: 50px;
			height: 50px;
			margin-left:20%; 
			position: absolute;
			border: 2px solid #ED3093;
			border-radius:10px;
			/*box-shadow:3px 3px  5px   #B9B7B7;*/
		}
		#numero2 {
			font-size: 18px;
			text-align: center;
			-webkit-appearance: none;
			display: block;
			background: white;
			color: #636363;
			width: 50px;
			height: 50px;
			margin-left:35%; 
			position: absolute;
			border: 2px solid #ED3093;
			border-radius:10px;
			/*box-shadow:3px 3px  5px   #B9B7B7;*/
		}
		#numero3 {
			font-size: 18px;
			text-align: center;
			-webkit-appearance: none;
			display: block;
			background: white;
			color: #636363;
			width: 50px;
			height: 50px;
			margin-left:50%; 
			position: absolute;
			border: 2px solid #ED3093;
			border-radius:10px;
			/*box-shadow:3px 3px  5px   #B9B7B7;*/
		}
		#numero4 {
			font-size: 18px;
			text-align: center;
			-webkit-appearance: none;
			display: block;
			background: white;
			color: #636363;
			width: 50px;
			height: 50px;
			margin-left:65%; 
			position: absolute;			
			border: 2px solid #ED3093;
			border-radius:10px;
			/*box-shadow:3px 3px  5px   #B9B7B7;*/
		}

.cNumber{
	font-family: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif !important; font-weight:300 !important; font-stretch:normal;
	outline: 0 !important;
	text-align: center !important;
	font-size: 30px !important;
	color: #333333 !important;
	width: 50px;
	height: 50px;
	border: 2px solid #ED3093;
	border-radius:7px;
}

@media (min-width: 100px) and (max-width:768px){
	#frmValidate{
		box-shadow:none;
	}
}
