.mycontent-left {
	border-right: 2px solid #870080;
}

.h1-mision{
	font-size: 48px;
}

.p-juntos{
	text-align: right !important;
	color: #1b1b1b;
}

@media(max-width:768px){
	.h1-para-ti{
		margin-top: -40px;
		margin-bottom: 30px;
	}
}