@font-face {
	font-family: 'Lato-Semibold';
	src:url('../fonts/typo/Lato-Semibold.ttf');
	src:url('../fonts/typo/Lato-Semibold.ttf') format('truetype'),
		url('../fonts/typo/Lato-Semibold.woff') format('woff'),
		url('../fonts/typo/Lato-Semibold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
.navbar-text > a{
	color: inherit;
	text-decoration: none;
	font-family: 'Lato-Semibold';
}


.navbar-default{
	border-color: #fff;
	color: #fff;
	background: rgba(54, 25, 25, .5);
}
.navbar-default .navbar-brand{
	color: #fff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus{
	color:#18bc9c;
	background-color: transparent;
}

.navbar-default .navbar-nav > li > a{
	color: #fff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus{
	color: #fff;
	background-color: #1A242F;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus{
	color: #18bc9c;
	background-color: transparent;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus{
	background-color: #1A242F;
	color: #fff;
}
.btn-primary{
	background-color: #2C3E50;
	border-color: #2C3E50;
	color: #fff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary{
	color: #fff;
	background-color: #1E2A36;
	border-color: #1E2A36;
}
.btn-success{
	background-color: #18BC9C;
	border-color: #18BC9C;
	color: #fff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success{
	color: #fff;
	background-color: #13987E;
	border-color: #13987E;
}
.btn-default{
	background-color: #95A5A6;
	border-color: #95A5A6;
	color: #fff;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default{
	color: #fff;
	background-color: #7F9293;
	border-color: #7F9293;
}
.dropdown-header{
	font-family: 'Lato-Semibold';
}
/*.dropdown-menu > li > a{
	color: #000;
}*/
#evento{
	background-color: transparent;
	height: auto;
}
.home-thumb img:hover{
	transform: scale(1.1);
}
.thumbnail img{
	transition: all 0.3s ease 0s;
	width: 100%; 
}
.thumbnail{
	overflow: hidden;
}
#descripcion{
	background: rgba(0, 0, 0, .5);
	margin-top: -75px;
	z-index: 5000;
	position: inherit;
}
#eventoTit{
	color: #fff;
}

#subt{
	color:#dedddd;
}

/*Carousel*/
#carousel-example-generic{
	position: relative;
	overflow: hidden;
	height: auto;
}
#post_carousel-1{
	background-color: #fff;
}
.bg-grey{
	background-color: #f9f9f9;
}

.carousel{
	padding-bottom: 20px;
}

/*-----Comer, dormir---*/
.parlex.service-parlex {
  background-image: none;
  background-position: 0% 0%;
  background-size: auto;
  background-repeat: repeat;
  background-attachment: scroll;
}

.service-combo {
  padding-right: 10px;
  padding-left: 10px;
  background-color: transparent;
}
.service-h1 {
  padding-bottom: 12px;
  border-bottom: 2px solid #474747;
}
.service-button {
  display: block;
  margin: 10px auto;
  padding: 8px;
  background-image: -webkit-linear-gradient(#13ad7d, #13ad7d);
  background-image: -o-linear-gradient(#13ad7d, #13ad7d);
  background-image: linear-gradient(#13ad7d, #13ad7d);
  box-shadow: none;
  text-align: center;
}
.services-text {
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
}

.sepreater.service {
  border-bottom-color: white;
  box-shadow: none;
}

.service-icon {
  margin: auto;
  width: 100%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.service-parlex {
  padding-top: 0px;
  background-image: url('../images/ig.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#llegar{
	margin-top: 90px;
}
h1, h2, h3, h4{
	font-family: 'Lato-Semibold';
}
lista{
	font-family: 'Lato-Semibold';
}
p{
	font-family: 'Lato-Semibold';
}
#llegar{
	font-family: 'Lato-Semibold';
}
#mapa{
	width: 100%;
	height: auto;
}
#faCon{
	margin-top: -20px;
}

@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
      display:block !important;
  }
  
  .img-responsiveLogo{
	width: 65px;
	height: 65px;
	position: absolute;
	margin-top: -70px;
	margin-left: 170px;
}

	.navbar-default .navbar-brand{
	color: #fff;
	}
	.navbar-default .navbar-nav > li > a{
	color: #fff;
	}
	
	
}
@media (max-width: 768px) {
  .img-responsiveLogo{
	width: 65px;
	height: 65px;
	position: absolute;
	margin-top: -60px;
	margin-left: 170px;
}
}
@media (max-width: 600px){
	#tour{
		font-size: small;
	}
}
/* Fechita indicadora de menu dropdown
.navbar .nav > li > .dropdown-menu::before {
  position: absolute;
  top: -7px;
  left: 9px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #CCC;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.navbar .nav > li > .dropdown-menu::after {
  position: absolute;
  top: -6px;
  left: 10px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid white;
  border-left: 6px solid transparent;
  content: '';
}*/