/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/* start editing from here */

@font-face {
  font-family: 'Raleway Semibold';
  src: url('../fonts/Raleway-SemiBold.ttf')  format('truetype'); /* Safari, Android, iOS */
 }
@font-face{
   font-family: 'Raleway Regular';
   src: url('../fonts/Raleway-Regular.ttf')  format('truetype');
}
@font-face{
   font-family: 'Raleway Medium';
   src: url('../fonts/Raleway-Medium.ttf')  format('truetype');
}
@font-face{
   font-family: 'Raleway Bold';
   src: url('../fonts/Raleway-Bold.ttf')  format('truetype');
}



html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
/*--login start here--*/
 body{
   font-size: 100%;
   background:#fff; 
   font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: url('../images/back2.jpg') no-repeat;
    background-size: cover;
}

#home{
    height: 390px;
    color: #fff;
    margin-top: 61px;
    text-align: center;
    width: 100%;
}

a {
  text-decoration: none;
}
a:hover {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
/*--elemt style strat here--*/
.elelment h2 {
    font-size: 2.5em;
    color: #fff;
    text-align: center;
    margin-top:-10px;
    padding-top: -30px;
    font-weight: 700;
}
.element-main {
    width:37%;
    background: transparent;
    margin:4em auto 0em;
    padding:1em 2em .1em;
    border-radius: 5px;
}
.element-main h1 {
	font-family:'Helvetica';
    text-align: center;
    font-size: 1.8em;
    color:#4A4A4A;/*#17C4DE*/
    font-weight: 200;
}
.element-main h3 {
	font-family:'Helvetica';
    text-align: center;
    font-size: 1.8em;
    color:#4A4A4A;/*#17C4DE*/
    font-weight: 200;
}
.element-main p {
    font-size: 1em;
    color: #696969;
    line-height: 1.5em;
    margin: 1.5em 0em;
    text-align:center;
}
.element-main input[type="text"] {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 20px;
    padding: 0.5em 0.5em;
    display: block;
    width: 100%;
    outline: none;
    margin-bottom: 1em;
    text-align:center;
    border: 1px solid #B9B9B9;
    margin: 0 auto;
    border-radius: 5px;
}

.element-main input[type="password"] {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 20px;
    padding: 0.5em 0.5em;
    display: block;
    width: 100%;
    outline: none;
    margin-bottom: 1em;
    text-align:center;
    border: 1px solid #B9B9B9;
    margin: 0 auto;
    border-radius: 5px;
    text-indent: 45px;
    color: #ED3093;
}
.element-main input[type="submit"] {
	font-family: 'Helvetica';
    font-size: 19px;
    color: #fff;
    background:#4a4a4a;
    width: 100% !important;
    height: 45px;
    padding: 0.3em 0.5em;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /*border-bottom: 3px solid #045B99;*/
    display: block;
    margin: 1.5em auto 0;
}
.element-main input[type="submit"]:hover{
    background:#ED3093;
    /*border-bottom: 3px solid #2F2F2F; */ 
    transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
/*---copyrights--*/
.copy-right {
    margin: 0em 0em 2em 0em;
}
.copy-right p {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: center;
    font-size:12px;
    color:#fff;
    line-height: 1.5em;
    margin-top: -60px;
    color: #fff;

}
.copy-right p a{
  color:#fff;
}
.copy-right p a:hover{
	 color:#000;
	 transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
/*--element end here--*/
/*--media quiries start here--*/
@media(min-width:1281px){
	.copy-right {
    margin-top: 80px;
}
}

@media( min-width:1281px){
	.elelment h2 {
    margin-top: .8em;	
}
.element-main {
	width: 40%;
	}
}
@media(max-width:1440px){
	
}
@media(max-width:1366px){
	.element-main {
	width: 30%;
	}
}
@media(max-width:1280px){
	.imgPin{
	margin-top: -90px;
	padding-top: -50px;
	}
	.elelment h2 {
	margin-top: 1em;	
	}
	.copy-right {
	margin: 6em 0em 2em 0em;
	}
	.element-main {
	width: 30%;
	}
}
@media( min-width : 769px ){
	.imgPin{
		margin-top: -30px;
	}	
}
@media(max-width:1024px){
.element-main {
    width: 37%;	
}
}
@media(max-width:768px){
.element-main {
    width: 49%;
}	
.elelment h2 {
    font-size: 2em;
}
.element-main {
    width: 60%;
}
.element-main h1 {
    font-size: 2em;
}
}
@media(max-width:640px){
	
}
@media screen and (min-width: 481px) and ( max-width: 768px ){
	.imgPin{
		margin-top: -25px;
	}
} 
@media(max-width:480px){
.element-main {
    width: 80%;
    padding: 3em 1.5em;
}	
.copy-right {
    margin: 5em 0em 2em 0em;
}
.copy-right p {
    font-size: 0.9em;
}
}
@media(max-width:320px){
.elelment h2 {
    font-size: 1.5em;
}
.element-main h1 {
    font-size: 1.5em;
}
.element-main {
    width: 80%;
    margin: 2em auto 0em;
    padding: 1.5em 1.5em;
}
.element-main p {
    font-size: 0.9em;	
}
.element-main input[type="submit"] {
    font-size:19px;
    width: 80%;
}
.element-main input[type="text"] {
    font-size: 15px;
    padding: 0.5em 0.5em;
    width: 75%;
    height: 40px;
}
.element-main input[type="password"] {
    font-size: 0.9em;
    padding: 0.5em 0.5em;
    width: 75%;
    height: 40px;
}
.copy-right {
    margin: 4em 0em 2em 0em;
}
.copy-right p {
    font-size: 0.85em;
	padding:0 4px;
}
.imgPin{
	margin-top: -25px;
}
}
/*--media quiries end here--*/

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(74,74,74,.5);
}
::-moz-placeholder { /* Firefox 19+ */
  color: rgba(74,74,74,.5);
}
:-ms-input-placeholder { /* IE 10+ */
  color: rgba(74,74,74,.5);
}
:-moz-placeholder { /* Firefox 18- */
  color: rgba(74,74,74,.5);
}





.pRegular{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.pSemibold{
	font-family: 'Raleway Semibold';
}
.pMedium{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.pBold{
	font-family: 'Raleway Bold';
}
.passError {
    border: 1px solid #FF001F;
}


/*
   * This toggle style shows a winking "eye-con" (nyuk, nyuk).
   * Open eye means "show," closed eye means "hide."
   */
  .hideShowPassword-toggle {
    background-image: url('../img/wink.svg');
    background-position: 0 center;
    background-repeat: no-repeat;
    cursor: pointer;
    overflow: hidden;
    text-indent: -9999em;
    width: 54px;
    font-size: 44px;
  }
  .hideShowPassword-toggle-hide {
    background-position: -44px center;
  }
  /*
   * Because our input elements have a z-index so that
   * their borders will overlap on focus, we'll give ours
   * a higher one to make sure they're always visible.
   */
  .hideShowPassword-toggle,
  .my-toggle-class {
    z-index: 3;
  }


