/* -------------------------------- 

Primary style

-------------------------------- */

@media only screen and (min-width: 1024px) {
  body.overlay-layer::after {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
  }
}



/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */

/* -------------------------------- 

Main components 

-------------------------------- */

.cd-quick-view {
  /* quick view non available on small devices */
  display: none;
}

.cd-item-action{
	padding-left: 0px;
}
.cd-item-info .cd-item-action li {
  display: inline-block;
  margin-right: 1em;
}
.cd-item-info .cd-item-action li:first-child {
  margin-left: -4px;
}
@media only screen and (min-width: 1024px) {
  .cd-quick-view {
    display: block;
    position: fixed;
    max-width: 900px;
    visibility: hidden;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    will-change: left, top, width;
    z-index: 1;
  }
  .cd-quick-view:after {
    content: "";
    display: table;
    clear: both;
  }
  .cd-quick-view.is-visible {
    /* class added when user clicks on .cd-trigger */
    visibility: visible;
  }
  .cd-quick-view.animate-width {
    /* class added at the end of the first zoom-in animation */
    background-color: #ffffff;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    -webkit-transition: box-shadow 0.3s;
    -moz-transition: box-shadow 0.3s;
    transition: box-shadow 0.3s;
  }
}

.preview{
	background-color: #f3f3f3;
}

.vistaR{
	float: left;
	clear: both;
	margin-top: -50px;
	margin-left: 0 auto;
	margin-right: 0 auto;
	height: 50px;
	line-height: 50px;
	width: 100%;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.9);
	opacity: 0;
	text-align: center;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #ffffff;
	opacity: 0.6;
	-webkit-transition: opacity 0.2s, background-color 0.2s;
	-moz-transition: opacity 0.2s, background-color 0.2s;
	transition: opacity 0.2s, background-color 0.2s;
  	
}
.vistaR > a{
	color: #fff;
	font-size: 20px;
	opacity: none;
}
.previewP:hover .vistaR{
	display: block;
}
#precio{
	color: #c92626;
}
#otherProducts{
	width: 70%;
}