<div class="logo">
    <a href="index.html" class="simple-text logo-normal">
        <img src="../assets/img/luboLogoWeb.svg" width="40%">
    </a>
</div>
<div class="sidebar-wrapper">
    <ul class="nav">
        <li class="nav-item" id="index">
            <a class="nav-link" href="index.html">
                <i class="material-icons">dashboard</i>
                <p>Inicio</p>
            </a>
        </li>
        <li class="nav-item " id="map-driver">
            <a class="nav-link" href="map-driver.html">
                <i class="material-icons">location_ons</i>
                <p>Mapa de Conductores</p>
            </a>
        </li>
        <li class="nav-item " id="conductoresMenu">
            <a class="nav-link" data-toggle="collapse" href="#pagesExamplesDriver">
                <i class="material-icons">person</i>
                <p> Conductores
                    <b class="caret"></b>
                </p>
            </a>
            <div class="collapse" id="pagesExamplesDriver">
                <ul class="nav">
                    <li class="nav-item " id="conductores">
                        <a class="nav-link" href="conductores.html">
                            <!-- <i class="material-icons">person</i> -->
                            <!-- <span class="sidebar-mini"> RDV </span> -->
                            <span class="sidebar-normal"> Listado de conductores </span>
                        </a>
                    </li>

                    <li class="nav-item " id="datosDriver">
                        <a class="nav-link" href="datosDriver.html">
                            <!-- <i class="material-icons">person</i> -->
                            <!-- <span class="sidebar-mini"> RDV </span> -->
                            <span class="sidebar-normal"> Validar imagen/datos</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item " id="Usuariosmenu">
            <a class="nav-link" data-toggle="collapse" href="#pagesExamplesUser">
                <i class="material-icons">person</i>
                <p> Usuarios
                    <b class="caret"></b>
                </p>
            </a>
            <div class="collapse" id="pagesExamplesUser">
                <ul class="nav">
                    <li class="nav-item " id="listadoUser">
                        <a class="nav-link" href="listadoUser.html">
                            <!-- <i class="material-icons">person</i> -->
                            <!-- <span class="sidebar-mini"> RDV </span> -->
                            <span class="sidebar-normal"> Listado de usuarios </span>
                        </a>
                    </li>

                    <li class="nav-item " id="usuarios">
                        <a class="nav-link" href="usuarios.html">
                            <!-- <i class="material-icons">person</i> -->
                            <!-- <span class="sidebar-mini"> RDV </span> -->
                            <span class="sidebar-normal"> Validar datos </span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>


        <li class="nav-item " id="Reportes">
            <a class="nav-link" data-toggle="collapse" href="#pagesExamples">
                <i class="material-icons">insert_drive_file</i>
                <p> Reportes
                    <b class="caret"></b>
                </p>
            </a>
            <div class="collapse" id="pagesExamples">
                <ul class="nav">
                    <li class="nav-item " id="reporte-diario-de-viajes">
                        <a class="nav-link" href="reporte-diario-de-viajes.html">
                            <span class="sidebar-mini"> RDV </span>
                            <span class="sidebar-normal"> Reporte diario de viajes </span>
                        </a>
                    </li>
                    <li class="nav-item " id="reporte-viajes-reportados">
                        <a class="nav-link" href="reporte-viajes-reportados.html">
                            <span class="sidebar-mini"> RDVR </span>
                            <span class="sidebar-normal"> Reporte de Viajes Reportados </span>
                        </a>
                    </li>
                    <li class="nav-item " id="reporte-solicitudes">
                        <a class="nav-link" href="reporte-solicitudes.html">
                            <span class="sidebar-mini"> RDS </span>
                            <span class="sidebar-normal"> Reporte de Solicitudes </span>
                        </a>
                    </li>
                    <!-- <li class="nav-item" id="reporte-de-conductores">
              <a class="nav-link" href="#">
                <span class="sidebar-mini"> RC </span>
                <span class="sidebar-normal"> Reporte de conductores</span>
              </a>
            </li> -->
                    <li class="nav-item" id="corte-semanal">
                        <a class="nav-link" href="corte-semanal.html">
                            <span class="sidebar-mini"> CS </span>
                            <span class="sidebar-normal"> Corte semanal</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>


        <div id="menu">
            <li class="nav-item " id="lista-admin">
                <a class="nav-link" href="lista-admin.html">
                    <i class="material-icons">person</i>
                    <p>Administradores</p>
                </a>
            </li>
        </div>
        <li class="nav-item ">
            <a class="nav-link" href="#" onclick="logout()">
                <i class="material-icons">exit_to_app</i>
                <p>Cerrar Sesion</p>
            </a>
        </li>
    </ul>
</div>