<div class="logo">
    <a href="mis-viajes.html" class="simple-text logo-normal">
        <img src="../assets/imagenes/luboWebWhite.svg" width="40%">
    </a>
</div>
<div class="sidebar-wrapper">
    <ul class="nav">
        <li class="nav-item" id="mis-viajes">
            <a class="nav-link" href="mis-viajes.html">
                <i class="material-icons">directions_car</i>
                <p>Mis viajes</p>
            </a>
        </li>
        <li class="nav-item" id="mis-ganancias">
            <a class="nav-link" href="mis-ganancias.html">
                <i class="material-icons">attach_money</i>
                <p>Ganancias</p>
            </a>
        </li>
        <li class="nav-item" id="mis-documentos">
            <a class="nav-link" href="mis-documentos.html">
                <i class="material-icons">description</i>
                <p>Tus documentos</p>
            </a>
        </li>
        <li class="nav-item" id="mis-autos">
            <a class="nav-link" href="mis-autos.html">
                <i class="material-icons">directions_car</i>
                <p>Mi auto</p>
            </a>
        </li>
        <li class="nav-item" id="mis-calificaciones">
            <a class="nav-link" href="mis-calificaciones.html">
                <i class="material-icons">thumb_up</i>
                <p>Calificaciones</p>
            </a>
        </li>
        <li class="nav-item" id="perfil-bancario">
            <a class="nav-link" href="perfil-bancario.html">
                <i class="material-icons">monetization_on</i>
                <p>Perfil Bancario</p>
            </a>
        </li>
        <li class="nav-item" id="perfil-de-facturacion">
            <a class="nav-link" href="perfil-de-facturacion.html">
                <i class="material-icons">receipt</i>
                <p>Facturación</p>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href='#' onclick="logout()">
                <i class="material-icons">exit_to_app</i>
                <p>Cerrar Sesion</p>
            </a>
        </li>
    </ul>
</div>