


#map {
	height: 100%;
}

h1 {
	display: none;
}

html, body {
	height: 100%;
	margin: 0px;	
}

/**main {
	height: 100%;
}*/

section {
	height: 100%;
}

header { 
    background-color: #ffffff;
    height: 80px;    
}

main { 
    background-color: #AAA;
    height: calc(100% - 150px);    
}

footer { 
    background-color: #ffffff;
    height: 70px;    
}

.footer-sigueme{
	padding-top: 0px;
	padding-bottom: 0px;
}

.logo-footer{
	margin-top: 20px;
	margin-left: 100px;
	vertical-align: middle;
}



.container-direcciones{
	width: 50%;
	left:0;
	right:0;

	margin-left: auto;
  	margin-right: auto;
  	
    padding: 20px;
    padding-top: 20px;
    margin-top: 10px;
    
    background-color: #ffffff;
    position: absolute;
    z-index: 10000;
    
    border-radius: 3px;
    -webkit-box-shadow: 10px 10px 57px -22px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 57px -22px rgba(0,0,0,0.75);
box-shadow: 10px 10px 57px -22px rgba(0,0,0,0.75);
}

.profile-pic {
    max-width: 80px;
    max-height: 80px;
    display: block;
}

.file-upload {
    display: none;
}
.circle {
    border-radius: 1000px !important;
    overflow: hidden;
    width: 60px;
    height: 60px;
    border: 0px solid rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0px;
    margin-top: 10px;
    margin-left: 50px;
}

.datos-conductor{
	height: 80px;
	padding-top: 0px;
	background-color: #ffffff !important;
	z-index: 10000;
}

.info-driver{
	font-size: 20px;
	color: #333333;
}

.boton-descarga{
	font-size: 14px !important;
	margin-top: 10px;
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
	header { 
	    height: 80px !important;
	    padding-top: 0px !important;
	    padding-bottom: 0px !important;
	}
	
	main { 
	    height: calc(100% - 140px);    
	}
	
	footer {
	    height: 40px !important;   
	}
	
	.circle {
	    margin-left: 20px;
	}
	.info-driver{
		font-size: 14px;
		margin-top: -5px;
	}
	
	.container-direcciones{
		width: 90% !important;
		padding: 10px 5px 10px 15px;
	    margin-top: 10px;
	}
	.logo-footer{
		margin-top: 10px;
		margin-left: 0px;
		vertical-align: middle;
	}
	
	.boton-descarga{
		font-size: 11px !important;
		margin-top: 10px;
		padding: 10px 20px 10px 20px;
	}
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
	header { 
	    height: 80px !important;
	    padding-top: 0px !important;
	    padding-bottom: 0px !important;
	}
	
	main { 
	    height: calc(100% - 140px);    
	}
	
	footer {
	    height: 40px !important;   
	}
	
	.circle {
	    margin-left: 20px;
	}
	.info-driver{
		font-size: 14px;
		margin-top: -5px;
	}
	
	.container-direcciones{
		width: 90% !important;
		padding: 10px 5px 10px 15px;
	    margin-top: 10px;
	}
	.logo-footer{
		margin-top: 10px;
		margin-left: 0px;
		vertical-align: middle;
	}
	
	.boton-descarga{
		font-size: 11px !important;
		margin-top: 10px;
		padding: 10px 20px 10px 20px;
	}
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
	header { 
	    height: 80px !important;
	    padding-top: 0px !important;
	    padding-bottom: 0px !important;
	}
	
	main { 
	    height: calc(100% - 140px);    
	}
	
	footer {
	    height: 40px !important;   
	}
	
	.circle {
	    margin-left: 20px;
	}
	.info-driver{
		font-size: 14px;
		margin-top: -5px;
	}
	
	.container-direcciones{
		width: 90% !important;
		padding: 10px 5px 10px 15px;
	    margin-top: 10px;
	}
	.logo-footer{
		margin-top: 10px;
		margin-left: 0px;
		vertical-align: middle;
	}
	
	.boton-descarga{
		font-size: 11px !important;
		margin-top: 10px;
		padding: 10px 20px 10px 20px;
	}
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
	header { 
	    height: 80px !important;
	    padding-top: 0px !important;
	    padding-bottom: 0px !important;
	}
	
	main { 
	    height: calc(100% - 140px);    
	}
	
	footer {
	    height: 40px !important;   
	}
	
	.circle {
	    margin-left: 20px;
	}
	.info-driver{
		font-size: 14px;
		margin-top: -5px;
	}
	
	.container-direcciones{
		width: 90% !important;
		padding: 10px 5px 10px 15px;
	    margin-top: 10px;
	}
	.logo-footer{
		margin-top: 10px;
		margin-left: 0px;
		vertical-align: middle;
	}
	
	.boton-descarga{
		font-size: 11px !important;
		margin-top: 10px;
		padding: 10px 20px 10px 20px;
	}
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
	header { 
	    height: 80px !important;
	    padding-top: 0px !important;
	    padding-bottom: 0px !important;
	}
	
	main { 
	    height: calc(100% - 140px);    
	}
	
	footer {
	    height: 40px !important;   
	}
	
	.circle {
	    margin-left: 20px;
	}
	.info-driver{
		font-size: 14px;
		margin-top: -5px;
	}
	
	.container-direcciones{
		width: 90% !important;
		padding: 10px 5px 10px 15px;
	    margin-top: 10px;
	}
	.logo-footer{
		margin-top: 10px;
		margin-left: 0px;
		vertical-align: middle;
	}
	
	.boton-descarga{
		font-size: 11px !important;
		margin-top: 10px;
		padding: 10px 20px 10px 20px;
	}
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
	header { 
	    height: 80px !important;
	    padding-top: 0px !important;
	    padding-bottom: 0px !important;
	}
	
	main { 
	    height: calc(100% - 140px);    
	}
	
	footer {
	    height: 40px !important;   
	}
	
	.circle {
	    margin-left: 20px;
	}
	.info-driver{
		font-size: 14px;
		margin-top: -5px;
	}
	
	.container-direcciones{
		width: 90% !important;
		padding: 10px 5px 10px 15px;
	    margin-top: 10px;
	}
	.logo-footer{
		margin-top: 10px;
		margin-left: 0px;
		vertical-align: middle;
	}
	
	.boton-descarga{
		font-size: 11px !important;
		margin-top: 10px;
		padding: 10px 20px 10px 20px;
	}
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
	header { 
	    height: 80px !important;
	    padding-top: 0px !important;
	    padding-bottom: 0px !important;
	}
	
	main { 
	    height: calc(100% - 140px);    
	}
	
	footer {
	    height: 40px !important;   
	}
	
	.circle {
	    margin-left: 20px;
	}
	.info-driver{
		font-size: 14px;
		margin-top: -5px;
	}
	
	.container-direcciones{
		width: 90% !important;
		padding: 10px 5px 10px 15px;
	    margin-top: 10px;
	}
	.logo-footer{
		margin-top: 10px;
		margin-left: 0px;
		vertical-align: middle;
	}
	
	.boton-descarga{
		font-size: 11px !important;
		margin-top: 10px;
		padding: 10px 20px 10px 20px;
	}
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
	header { 
	    height: 80px !important;
	    padding-top: 0px !important;
	    padding-bottom: 0px !important;
	}
	
	main { 
	    height: calc(100% - 140px);    
	}
	
	footer {
	    height: 40px !important;   
	}
	
	.circle {
	    margin-left: 20px;
	}
	.info-driver{
		font-size: 14px;
		margin-top: -5px;
	}
	
	.container-direcciones{
		width: 90% !important;
		padding: 10px 5px 10px 15px;
	    margin-top: 10px;
	}
	.logo-footer{
		margin-top: 10px;
		margin-left: 0px;
		vertical-align: middle;
	}
	
	.boton-descarga{
		font-size: 11px !important;
		margin-top: 10px;
		padding: 10px 20px 10px 20px;
	}
}

/* iPhone 6, 7, 8 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
	header { 
	    height: 80px !important;
	    padding-top: 0px !important;
	    padding-bottom: 0px !important;
	}
	
	main { 
	    height: calc(100% - 140px);    
	}
	
	footer {
	    height: 40px !important;   
	}
	
	.circle {
	    margin-left: 20px;
	}
	.info-driver{
		font-size: 14px;
		margin-top: -5px;
	}
	
	.container-direcciones{
		width: 90% !important;
		padding: 10px 5px 10px 15px;
	    margin-top: 10px;
	}
	.logo-footer{
		margin-top: 10px;
		margin-left: 0px;
		vertical-align: middle;
	}
	
	.boton-descarga{
		font-size: 11px !important;
		margin-top: 10px;
		padding: 10px 20px 10px 20px;
	}
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
	header { 
	    height: 80px !important;
	    padding-top: 0px !important;
	    padding-bottom: 0px !important;
	}
	
	main { 
	    height: calc(100% - 140px);    
	}
	
	footer {
	    height: 40px !important;   
	}
	
	.circle {
	    margin-left: 20px;
	}
	.info-driver{
		font-size: 14px;
		margin-top: -5px;
	}
	
	.container-direcciones{
		width: 90% !important;
		padding: 10px 5px 10px 15px;
	    margin-top: 10px;
	}
	.logo-footer{
		margin-top: 10px;
		margin-left: 0px;
		vertical-align: middle;
	}
	
	.boton-descarga{
		font-size: 11px !important;
		margin-top: 10px;
		padding: 10px 20px 10px 20px;
	}
}

/* iPhone 6+, 7+, 8+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
	header { 
	    height: 80px !important;
	    padding-top: 0px !important;
	    padding-bottom: 0px !important;
	}
	
	main { 
	    height: calc(100% - 140px);    
	}
	
	footer {
	    height: 40px !important;   
	}
	
	.circle {
	    margin-left: 20px;
	}
	.info-driver{
		font-size: 14px;
		margin-top: -5px;
	}
	
	.container-direcciones{
		width: 90% !important;
		padding: 10px 5px 10px 15px;
	    margin-top: 10px;
	}
	.logo-footer{
		margin-top: 10px;
		margin-left: 0px;
		vertical-align: middle;
	}
	
	.boton-descarga{
		font-size: 11px !important;
		margin-top: 10px;
		padding: 10px 20px 10px 20px;
	}
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
	header { 
	    height: 80px !important;
	    padding-top: 0px !important;
	    padding-bottom: 0px !important;
	}
	
	main { 
	    height: calc(100% - 140px);    
	}
	
	footer {
	    height: 40px !important;   
	}
	
	.circle {
	    margin-left: 20px;
	}
	.info-driver{
		font-size: 14px;
		margin-top: -5px;
	}
	
	.container-direcciones{
		width: 90% !important;
		padding: 10px 5px 10px 15px;
	    margin-top: 10px;
	}
	.logo-footer{
		margin-top: 10px;
		margin-left: 0px;
		vertical-align: middle;
	}
	
	.boton-descarga{
		font-size: 11px !important;
		margin-top: 10px;
		padding: 10px 20px 10px 20px;
	}
}

/* iPhone X ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
	header { 
	    height: 60px !important;
	    padding-top: 0px !important;
	    padding-bottom: 0px !important;
	}
	
	main { 
	    height: calc(100% - 120px);    
	}
	
	footer {
	    height: 40px !important;   
	}
	
	.circle {
	    margin-left: 20px;
	}
	.info-driver{
		font-size: 14px;
		margin-top: -5px;
	}
	
	.container-direcciones{
		width: 90% !important;
		padding: 10px 5px 10px 15px;
	    margin-top: 10px;
	}
	.logo-footer{
		margin-top: 10px;
		margin-left: 0px;
		vertical-align: middle;
	}
	
	.boton-descarga{
		font-size: 11px !important;
		margin-top: 10px;
		padding: 10px 20px 10px 20px;
	}
}

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
	header { 
	    height: 80px !important;
	    padding-top: 0px !important;
	    padding-bottom: 0px !important;
	}
	
	main { 
	    height: calc(100% - 140px);    
	}
	
	footer {
	    height: 40px !important;   
	}
	
	.circle {
	    margin-left: 20px;
	}
	.info-driver{
		font-size: 14px;
		margin-top: -5px;
	}
	
	.container-direcciones{
		width: 90% !important;
		padding: 10px 5px 10px 15px;
	    margin-top: 10px;
	}
	.logo-footer{
		margin-top: 10px;
		margin-left: 0px;
		vertical-align: middle;
	}
	
	.boton-descarga{
		font-size: 11px !important;
		margin-top: 10px;
		padding: 10px 20px 10px 20px;
	}
}

/* iPhone XS Max, XR ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
	header { 
	    height: 80px !important;
	    padding-top: 0px !important;
	    padding-bottom: 0px !important;
	}
	
	main { 
	    height: calc(100% - 140px);    
	}
	
	footer {
	    height: 40px !important;   
	}
	
	.circle {
	    margin-left: 20px;
	}
	.info-driver{
		font-size: 14px;
		margin-top: -5px;
	}
	
	.container-direcciones{
		width: 90% !important;
		padding: 10px 5px 10px 15px;
	    margin-top: 10px;
	}
	.logo-footer{
		margin-top: 10px;
		margin-left: 0px;
		vertical-align: middle;
	}
	
	.boton-descarga{
		font-size: 11px !important;
		margin-top: 10px;
		padding: 10px 20px 10px 20px;
	}
}

@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
	header { 
	    height: 80px !important;
	    padding-top: 0px !important;
	    padding-bottom: 0px !important;
	}
	
	main { 
	    height: calc(100% - 140px);    
	}
	
	footer {
	    height: 40px !important;   
	}
	
	.circle {
	    margin-left: 20px;
	}
	.info-driver{
		font-size: 14px;
		margin-top: -5px;
	}
	
	.container-direcciones{
		width: 90% !important;
		padding: 10px 5px 10px 15px;
	    margin-top: 10px;
	}
	.logo-footer{
		margin-top: 10px;
		margin-left: 0px;
		vertical-align: middle;
	}
	
	.boton-descarga{
		font-size: 11px !important;
		margin-top: 10px;
		padding: 10px 20px 10px 20px;
	}
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
	header { 
	    height: 80px !important;
	    padding-top: 0px !important;
	    padding-bottom: 0px !important;
	}
	
	main { 
	    height: calc(100% - 140px);    
	}
	
	footer {
	    height: 40px !important;   
	}
	
	.circle {
	    margin-left: 20px;
	}
	.info-driver{
		font-size: 14px;
		margin-top: -5px;
	}
	
	.container-direcciones{
		width: 90% !important;
		padding: 10px 5px 10px 15px;
	    margin-top: 10px;
	}
	.logo-footer{
		margin-top: 10px;
		margin-left: 0px;
		vertical-align: middle;
	}
	
	.boton-descarga{
		font-size: 11px !important;
		margin-top: 10px;
		padding: 10px 20px 10px 20px;
	}
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
	header { 
	    height: 80px !important;
	    padding-top: 0px !important;
	    padding-bottom: 0px !important;
	}
	
	main { 
	    height: calc(100% - 140px);    
	}
	
	footer {
	    height: 40px !important;   
	}
	
	.circle {
	    margin-left: 20px;
	}
	.info-driver{
		font-size: 14px;
		margin-top: -5px;
	}
	
	.container-direcciones{
		width: 90% !important;
		padding: 10px 5px 10px 15px;
	    margin-top: 10px;
	}
	.logo-footer{
		margin-top: 10px;
		margin-left: 0px;
		vertical-align: middle;
	}
	
	.boton-descarga{
		font-size: 11px !important;
		margin-top: 10px;
		padding: 10px 20px 10px 20px;
	}
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
	header { 
	    height: 80px !important;
	    padding-top: 0px !important;
	    padding-bottom: 0px !important;
	}
	
	main { 
	    height: calc(100% - 140px);    
	}
	
	footer {
	    height: 40px !important;   
	}
	
	.circle {
	    margin-left: 20px;
	}
	.info-driver{
		font-size: 14px;
		margin-top: -5px;
	}
	
	.container-direcciones{
		width: 90% !important;
		padding: 10px 5px 10px 15px;
	    margin-top: 10px;
	}
	.logo-footer{
		margin-top: 10px;
		margin-left: 0px;
		vertical-align: middle;
	}
	
	.boton-descarga{
		font-size: 11px !important;
		margin-top: 10px;
		padding: 10px 20px 10px 20px;
	}
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
	header { 
	    height: 80px !important;
	    padding-top: 0px !important;
	    padding-bottom: 0px !important;
	}
	
	main { 
	    height: calc(100% - 140px);    
	}
	
	footer {
	    height: 40px !important;   
	}
	
	.circle {
	    margin-left: 20px;
	}
	.info-driver{
		font-size: 14px;
		margin-top: -5px;
	}
	
	.container-direcciones{
		width: 90% !important;
		padding: 10px 5px 10px 15px;
	    margin-top: 10px;
	}
	.logo-footer{
		margin-top: 10px;
		margin-left: 0px;
		vertical-align: middle;
	}
	
	.boton-descarga{
		font-size: 11px !important;
		margin-top: 10px;
		padding: 10px 20px 10px 20px;
	}
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
	header { 
	    height: 70px !important;
	    padding-top: 0px !important;
	    padding-bottom: 0px !important;
	}
	
	main { 
	    height: calc(100% - 130px);    
	}
	
	footer {
	    height: 40px !important;   
	}
	
	.circle {
	    margin-left: 20px;
	}
	.info-driver{
		font-size: 14px;
		margin-top: -5px;
	}
	
	.container-direcciones{
		width: 90% !important;
		padding: 10px 5px 10px 15px;
	    margin-top: 10px;
	}
	.logo-footer{
		margin-top: 10px;
		margin-left: 0px;
		vertical-align: middle;
	}
	
	.boton-descarga{
		font-size: 11px !important;
		margin-top: 10px;
		padding: 10px 20px 10px 20px;
	}
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
	header { 
	    height: 80px !important;
	    padding-top: 0px !important;
	    padding-bottom: 0px !important;
	}
	
	main { 
	    height: calc(100% - 140px);    
	}
	
	footer {
	    height: 40px !important;   
	}
	
	.circle {
	    margin-left: 20px;
	}
	.info-driver{
		font-size: 14px;
		margin-top: -5px;
	}
	
	.container-direcciones{
		width: 90% !important;
		padding: 10px 5px 10px 15px;
	    margin-top: 10px;
	}
	.logo-footer{
		margin-top: 10px;
		margin-left: 0px;
		vertical-align: middle;
	}
	
	.boton-descarga{
		font-size: 11px !important;
		margin-top: 10px;
		padding: 10px 20px 10px 20px;
	}
}
