@font-face{
   font-family: 'Proxima Nova Regular';
   src: url('../fonts/ProximaNova-Reg.otf')  format('opentype');
}
@font-face{
   font-family: 'Proxima Nova Semibold';
   src: url('../fonts/ProximaNovaAlt-Sbold.otf')  format('opentype');
}
@font-face{
   font-family: 'Proxima Nova Bold';
   src: url('../fonts/ProximaNova Bold.otf')  format('opentype');
}

.sidebar .nav p{
	font-family: 'Proxima Nova Regular';
}

.card-title{
	font-family: 'Proxima Nova Regular';
}
.text-nova-regular{
	font-family: 'Proxima Nova Regular';
}
.text-semibold{
	font-family: 'Proxima Nova Semibold';
	color: #000000;
}
.text-nova-bold{
	font-family: 'Proxima Nova Bold';
}


.card{
	margin-top: -10px;
}
.card-body{
	padding-bottom: 0px !important;
}


.link-blue{
	color: #1A52B6;
}

.stats{
	font-size: 15px !important;	
}

.material-icons{
	top: 5 !important;
	font-size: 20px !important;
}

.checked {
  color: #FED554;
}

.viaje-contraido{
	background-color: #ffffff;
}
.viaje-contraido:hover{
	background-color: rgba(135,0,128,.15) !important;
}


.hr-footer-viaje{
	margin-top: -15px !important;
	margin-bottom: 0px !important;
}


.img-map{
	margin-left: 20px;
}
.material-icons-recibo{
	top: 0px !important;
}

.card-detalle{
	box-shadow: none !important;
}

.li-detalle{
	margin-left: 15px;
}

.modal-header-recibo{
	background-image: url('http://www.lubo.com.mx/luboadmi/html/imagenes/recibo-title.png');
	height: 235px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
	border-bottom: none !important;
}

.modal-title-recibo{
	margin-top: 35px;
	font-size: 40px;
	color: #ffffff !important;
	line-height: 30px;
}


.modal-footer-recibo{
	padding: 10px !important;
	background-color: #870080;
	justify-content: flex-start;
}

.opciones-foote{
	margin: 0 auto;
}
.opcion-footer{
	margin-left: 20px;
}


.btn-rosa{
	color: #fff;
    background-color: #ED3093 !important;
    border-color: #ED3093 !important;
    box-shadow: 0 2px 2px 0 rgba(156, 39, 176, 0.14), 0 3px 1px -2px rgba(156, 39, 176, 0.2), 0 1px 5px 0 rgba(156, 39, 176, 0.12);
    text-transform: none !important;
}
.modal-header-new-card{
	border-bottom: none !important;
}
.modal-footer-new-card{
	border-top: none !important;
}
.cod-card{
	margin-left: 15px;
}
.dato-new-card{
	font-size: 16px;
}


.textbox-impuesto{
	color: #000000;
	font-size: 16px;
}
.error-text-impuesto{
	color: #FF0B0B;
	margin-left: 15px;
	font-size: 13px;
}

.error-text-perfil{
	color: #FF0B0B;
	font-size: 13px;
}
.verificado{
	color: #2AC217;
	font-size: 13px;
}

.text-disable{
	color: #7D7D7D;
}


/**************/

.profile-pic {
    max-width: 121px;
    max-height: 100px;
    display: block;
}

.file-upload {
    display: none;
}
.circle {
    border-radius: 1000px !important;
    overflow: hidden;
    width: 80px;
    height: 80px;
    border: 0px solid rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0px;
}
img {
    max-width: 100%;
    height: auto;
}
.p-image {
  position: absolute;
  top: 57px;
  left: 70px;
  /*right: 30px;*/
  color: #666666;
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.p-image:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.upload-button {
  font-size: 1.2em;
}

.upload-button:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  color: #999;
}
/**************/


.sidebar{
	background-color: #ED3093;
}

.sidebar .nav li a, .sidebar .nav li .dropdown-menu a{
	color: #ffffff !important;
}

.sidebar .nav i{
	color: #ffffff;
}

.box-content {
	display: inline-block;
	width: 200px;
    padding: 0px;
}

.bottom {
}

.right {
	border-right: 1px solid #ccc;
}

.color-gray-driver{
	color: #8E8E8E;
}

.color-pink{
	color: #ED3093;
}
.color-black{
	color: #000000;
}

.text-big-pink{
	font-size: 36px;
}

.text-driver{
	font-size: 18px;
}

.text-money-head{
	font-size: 17px;
}

.status-pago{
	font-size: 17px !important;
	color:#2AB402;
}

hr.new1 {
  border-top: 1px solid #E3E3E3 !important;
  margin-left: 20px;
}

.file-name{
	width: 320px !important;
}

.espacio-input{
	margin-top: 10px;
}



/*******Mis documentos********/
.documentoAlta {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 62%;
    height: 75%;
    outline: none;
    opacity: 0;
    z-index: 1;
}
input[type=file] {
    display: block;
}

.color-pink-background{
	background-color: #ED3093;
}
.clase{
	width:170px;
	background-color:white;
	height:170px;
	box-shadow:10px 10px  15px 0px #B9B7B7;
	position: relative;
}

.btn-circle {
	width: 55px;
	height:55px;
	color: white;
	text-decoration: none;
	border-radius: 28px;
	outline: none;
}
.btn-circle1 {
	background-color:#2EA352;
	width:30px;
	height:30px;
	color: white;
	text-decoration: none;
	border-radius: 15px;
	outline: none;
}
.btn-circle-error {
	background-color:#FF0000;
	width:30px;
	height:30px;
	color: white;
	text-decoration: none;
	border-radius: 15px;
	outline: none;
}
.card-text {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
}

.card-img-top {
    padding-top: 40px;
}

.card-title {
    font-size: 20px;
    color: #333333;
    font-weight: 600;
    margin-top: 10px !important;
    margin-bottom: 20px !important;
}

#tit6{
	font-size: 10px;
	line-height: 14px;
}

.box{
    width: 170px;
    height: 30px;            
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;  /* for demo purpose  */
}
.stack-top{
    z-index: 9;
    background-color: #ED3093;
    color: #ffffff;
}
/*****************************/


/****************************/
.link-pink-week{
	color: #ED3093;
	font-size: 17px;
	margin-left: 16px !important;
}

.img-auto{
	position: relative;
top: 50%;
transform: translateY(-50%);
}

.text-dato-auto{
	font-size: 17px;
	margin-bottom: 5px !important;
}
.card-footer-auto{
	background-color: #ED3093;
	color: #ED3093;
}
.text-footer-card{
	color: #ffffff;
	margin-left: 20px;
	font-size: 16px;
}

.botonCalahua{
	padding:1px 25px 20px 25px; 
    background:none;
    color: #870080; 
    border:0 none;
    cursor:pointer;
    font-weight: 200;
    font-size: 18px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	outline: none;
}
/****************************/


.comment-wrapper .panel-body {
    max-height:650px;
    overflow:auto;
}

.comment-wrapper .media-list .media img {
    width:64px;
    height:64px;
}

.comment-wrapper .media-list .media {
    border-bottom:1px dashed #efefef;
    margin-bottom:25px;
}


.img-circle {
    border-radius: 50%;
}

.media-left, .media>.pull-left {
    padding-right: 10px;
}

.avatar{
	margin-right: 10px;
	webkit-box-shadow: 3px 6px 5px -1px rgba(214,214,214,1);
-moz-box-shadow: 3px 6px 5px -1px rgba(214,214,214,1);
box-shadow: 3px 6px 5px -1px rgba(214,214,214,1);
}


@media (max-width: 991px) {
	.sidebar::before,
  .off-canvas-sidebar nav .navbar-collapse::before {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #ED3093;
    display: block;
    content: "";
    z-index: 1;
  }
}