@font-face{
   font-family: 'Proxima Nova Regular';
   src: url('../fonts/ProximaNova-Reg.otf')  format('opentype');
}
@font-face{
   font-family: 'Proxima Nova Semibold';
   src: url('../fonts/ProximaNovaAlt-Sbold.otf')  format('opentype');
}
@font-face{
   font-family: 'Proxima Nova Bold';
   src: url('../fonts/ProximaNova Bold.otf')  format('opentype');
}

.sidebar .nav p{
	font-family: 'Proxima Nova Regular';
}

.card-title{
	font-family: 'Proxima Nova Regular';
}
.text-nova-regular{
	font-family: 'Proxima Nova Regular';
}
.text-semibold{
	font-family: 'Proxima Nova Semibold';
	color: #000000;
}
.text-nova-bold{
	font-family: 'Proxima Nova Bold';
}


.card{
	margin-top: -10px;
}
.card-body{
	padding-bottom: 0px !important;
}


.link-blue{
	color: #1A52B6;
}

.stats{
	font-size: 15px !important;	
}

.material-icons{
	top: 5 !important;
	font-size: 20px !important;
}

.checked {
  color: #FED554;
}

.viaje-contraido{
	background-color: #ffffff;
}
.viaje-contraido:hover{
	background-color: rgba(135,0,128,.15) !important;
}


.hr-footer-viaje{
	margin-top: -15px !important;
	margin-bottom: 0px !important;
}


.img-map{
	margin-left: 20px;
}
.material-icons-recibo{
	top: 0px !important;
}

.card-detalle{
	box-shadow: none !important;
}

.li-detalle{
	margin-left: 15px;
}

.modal-header-recibo{
	background-image: url('../imagenes/recibo-title.svg');
	height: 235px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
	border-bottom: none !important;
}

.modal-title-recibo{
	margin-top: 35px;
	font-size: 40px;
	color: #ffffff !important;
	line-height: 30px;
}


.modal-footer-recibo{
	padding: 10px !important;
	background-color: #870080;
	justify-content: flex-start;
}

.opciones-foote{
	margin: 0 auto;
}
.opcion-footer{
	margin-left: 20px;
}


.btn-rosa{
	color: #fff;
    background-color: #ED3093 !important;
    border-color: #ED3093 !important;
    box-shadow: 0 2px 2px 0 rgba(156, 39, 176, 0.14), 0 3px 1px -2px rgba(156, 39, 176, 0.2), 0 1px 5px 0 rgba(156, 39, 176, 0.12);
    text-transform: none !important;
}
.modal-header-new-card{
	border-bottom: none !important;
}
.modal-footer-new-card{
	border-top: none !important;
}
.cod-card{
	margin-left: 15px;
}
.dato-new-card{
	font-size: 16px;
}


.textbox-impuesto{
	color: #000000;
	font-size: 16px;
}
.error-text-impuesto{
	color: #FF0B0B;
	margin-left: 15px;
	font-size: 13px;
}

.error-text-perfil{
	color: #FF0B0B;
	font-size: 13px;
}
.verificado{
	color: #2AC217;
	font-size: 13px;
}

.text-disable{
	color: #7D7D7D;
}


/**************/

.profile-pic {
    max-width: 121px;
    max-height: 100px;
    display: block;
}

.file-upload {
    display: none;
}
.circle {
    border-radius: 1000px !important;
    overflow: hidden;
    width: 80px;
    height: 80px;
    border: 0px solid rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0px;
}
img {
    max-width: 100%;
    height: auto;
}
.p-image {
  position: absolute;
  top: 57px;
  left: 70px;
  /*right: 30px;*/
  color: #666666;
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.p-image:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.upload-button {
  font-size: 1.2em;
}

.upload-button:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  color: #999;
}
/**************/

.botonCalahua{
	padding:1px 25px 20px 25px; 
    background:none;
    color: #870080; 
    border:0 none;
    cursor:pointer;
    font-weight: 200;
    font-size: 18px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
