
            <div class="logo">
                <a href="mis-viajes.html" class="simple-text logo-normal">
                    <img src="../assets/imagenes/luboLogoWeb.svg" width="40%">
                </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li class="nav-item" id="mis-viajes">
                        <a class="nav-link" href="mis-viajes.html">
                            <p>Mis viajes</p>
                        </a>
                    </li>
                    <li class="nav-item " id="metodo-de-pago">
                        <a class="nav-link" href="metodo-de-pago.html">
                            <p>Método de pago</p>
                        </a>
                    </li>
                    <li class="nav-item" id="perfil-de-impuestos">
                        <a class="nav-link" href="perfil-de-impuestos.html">
                            <p>Perfil de impuestos</p>
                        </a>
                    </li>
                    <li class="nav-item" id="perfil">
                        <a class="nav-link" href="perfil.html">
                            <p>Configuración</p>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="#" onclick="logout()">
                            <p>Cerrar Sesion</p>
                        </a>
                    </li>
                </ul>
            </div>