.body-ticket{
	background-color: #ffffff;
	width: 95%;
	margin: 0 auto;
	padding: 15px;
	padding-bottom: 0px;
	box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 0, 0, 0.14);
	margin-bottom: 5px;
}
.ticket-card {
  margin-bottom: 15vh;
  background: #FFFFFF;
  border-radius: 4px;
}
.ticket-card:hover .cover img, .ticket-card.active .cover img {
  -moz-transform: translate(0, -50px);
  -o-transform: translate(0, -50px);
  -ms-transform: translate(0, -50px);
  -webkit-transform: translate(0, -50px);
  transform: translate(0, -50px);
  box-shadow: 0 10px 20px -4px rgba(22, 22, 22, 0.5);
}
.ticket-card .cover {
  border-radius: 4px 4px 0 0;
  position: relative;
  margin: 15px;
}
.ticket-card .cover img {
  width: 100%;
  position: relative;
  z-index: 2;
  margin-top: -30px;
  box-shadow: 0 10px 16px -6px rgba(22, 22, 22, 0.5);
  border-radius: 4px;
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 300ms ease, opacity 300ms ease;
  -moz-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 300ms ease, opacity 300ms ease;
  -o-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 300ms ease, opacity 300ms ease;
  -ms-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 300ms ease, opacity 300ms ease;
  transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 300ms ease, opacity 300ms ease;
}
.ticket-card .cover .info {
  position: absolute;
  width: 100%;
  bottom: 0px;
  padding: 0 15px;
  color: #777777;
}
.ticket-card .cover .info .going,
.ticket-card .cover .info .tickets-left {
  padding-bottom: 10px;
  border-bottom: 1px solid #f3f3f3;
  width: 50%;
}
.ticket-card .cover .info .going {
  float: left;
}
.ticket-card .cover .info .tickets-left {
  float: right;
  text-align: right;
}
.ticket-card .cover .info .fa {
  color: #CCCCCC;
  margin-right: 5px;
}

.desglose-ticket{
	font-size: 16px;
}


.ticket-card .artist {
  float: left;
}
.ticket-card .artist .info {
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 0;
}

.ticket-card .artist .name {
  font-weight: 200;
  font-size: 16px;
  margin-top: 5px;
}
.ticket-card .price .info {
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 0;
  margin-top: 0px;
}
.ticket-card .ticket {
  float: left;
}
.ticket-card .ticket small {
  font-size: 75%;
}
.ticket-card .price {
  float: right;
  text-align: right;
}
.ticket-card .price .from {
  color: #000000;
}
.ticket-card .price .value {
  font-size: 16px;
  font-weight: 200;
  color: #000000;
  margin-top: 4px;
}
.ticket-card .price .value b {
  font-size: 18px;
  font-weight: 200;
}
.ticket-card .list-unstyled {
  max-height: 200px;
  margin-bottom: 0;
}
.ticket-card .list-unstyled li {
  padding: 5px 30px;
  overflow: hidden;
  width: 100%;
  display: block;
  position: relative;
  margin-bottom: -35px;
}
.ticket-card .list-unstyled li .btn-buy {
  position: absolute;
  right: 15px;
  top: 13px;
  padding: 8px 20px;
  border-radius: 6px;
  background: #00bbff;
  border: 0;
  opacity: 0;
  -webkit-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 300ms ease, opacity 300ms ease;
  -moz-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 300ms ease, opacity 300ms ease;
  -o-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 300ms ease, opacity 300ms ease;
  -ms-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 300ms ease, opacity 300ms ease;
  transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 300ms ease, opacity 300ms ease;
}
.ticket-card .list-unstyled li:hover .btn-buy {
  opacity: 1;
}
.ticket-card .list-unstyled li:last-child {
  border-bottom: none;
}
.ticket-card .list-unstyled li:before, .ticket-card .list-unstyled li:after {
  display: table;
  content: " ";
  clear: both;
}
.ticket-card .list-unstyled li .price .value {
  color: #000000;
  font-size: 16px;
  margin-top: 20px;
}
.ticket-card .body {
  padding: 5px 30px;
}
.ticket-card .body .info {
  color: #777777;
}
.ticket-card .body .location,
.ticket-card .body .date {
  padding-top: 10px;
  width: 50%;
}
.ticket-card .body .location {
  float: left;
}
.ticket-card .body .date {
  float: right;
  text-align: right;
}
.ticket-card .body .fa {
  color: #CCCCCC;
  margin-right: 5px;
}
.ticket-card .footer .btn {
  width: 100%;
  background: transparent;
  border-top: 1px dotted #BBBBBB;
  border-radius: 0;
  padding: 15px 8px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: #666666;
  box-shadow: none;
}
.ticket-card .footer .btn:focus, .ticket-card .footer .btn:hover, .ticket-card .footer .btn:active {
  outline: none !important;
}
