
.btnEye, .ipEye{
	position: relative;
	padding: 0;
	height: 40px;
	background: #e9ecef;
}

form{
	margin:0 auto;
}

fieldset{
	background: #e9ecef;
	border: 1px transparent #333;
	border-radius: 0;
	padding: 0 0 0 0;
}

.ipEye{
	outline: none;
	border: none;
}

.btnCss{
	outline: none;
  	background: #e9ecef;
  	width: 85%;
  	border: none;
}

.btnEye{
	border: none;
	width: 40px;
	border-radius: 0.25rem;
}

.inputCss{
  	align-items: center;
  	padding: 0.375rem 0.75rem;
  	margin-bottom: 0;
  	font-size: 1rem;
  	font-weight: 400;
  	line-height: 1.5;
  	color: #495057;
  	text-align: center;
  	white-space: nowrap;
  	background-color: #e9ecef;
  	border: none;
  	border-radius: 5px;
}


.fa-eye{
	border: none;
	color: #bbb;
	transition: all ease-in-out;
}

.fa-eye-slash{
	border: none;
	color: #ED3093;
	transition: all ease-in-out;
}

.logo-pink{
	margin-top: 20px;
}